USE [master]
GO
/****** Object:  Database [GestionParcial]    Script Date: 20/05/2025 18:08:29 ******/
CREATE DATABASE [GestionParcial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionParcial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionParcial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionParcial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GestionParcial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionParcial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionParcial]
GO
/****** Object:  Table [dbo].[INGRESO]    Script Date: 20/05/2025 18:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGRESO](
	[ID_INGRESO] [int] IDENTITY(1,1) NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[DESCRIPCION] [nvarchar](200) NOT NULL,
	[BULTOS_INGRESADOS] [int] NOT NULL,
	[CANTIDAD_POR_BULTO] [int] NOT NULL,
	[DNI_EMPLEADO] [nvarchar](8) NOT NULL,
	[OBSERVACIONES] [nvarchar](300) NULL,
	[FECHA_REGISTRO] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_INGRESO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 20/05/2025 18:08:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID] [int] NOT NULL,
	[DESCRIPCION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[INGRESO] ON 

INSERT [dbo].[INGRESO] ([ID_INGRESO], [ID_MARCA], [DESCRIPCION], [BULTOS_INGRESADOS], [CANTIDAD_POR_BULTO], [DNI_EMPLEADO], [OBSERVACIONES], [FECHA_REGISTRO]) VALUES (3, 3, N'Lata Monster sabor Mango 473ml', 5, 6, N'1111111', N'Se recibieron dos latas con daños menores', CAST(N'1900-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[INGRESO] ([ID_INGRESO], [ID_MARCA], [DESCRIPCION], [BULTOS_INGRESADOS], [CANTIDAD_POR_BULTO], [DNI_EMPLEADO], [OBSERVACIONES], [FECHA_REGISTRO]) VALUES (5, 4, N'Cerveza Quilmes 750 ml', 12, 6, N'11111111', N'', CAST(N'2025-05-20T14:19:20.190' AS DateTime))
INSERT [dbo].[INGRESO] ([ID_INGRESO], [ID_MARCA], [DESCRIPCION], [BULTOS_INGRESADOS], [CANTIDAD_POR_BULTO], [DNI_EMPLEADO], [OBSERVACIONES], [FECHA_REGISTRO]) VALUES (6, 4, N'Cerveza Stella 500 ml', 2, 6, N'22222222', N'', CAST(N'2025-05-20T15:01:43.283' AS DateTime))
SET IDENTITY_INSERT [dbo].[INGRESO] OFF
GO
INSERT [dbo].[MARCA] ([ID], [DESCRIPCION]) VALUES (1, N'COCA-COLA')
INSERT [dbo].[MARCA] ([ID], [DESCRIPCION]) VALUES (2, N'PEPSI')
INSERT [dbo].[MARCA] ([ID], [DESCRIPCION]) VALUES (3, N'MONSTER ENERGY')
GO
ALTER TABLE [dbo].[INGRESO]  WITH CHECK ADD FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID])
GO
USE [master]
GO
